$primary-color: #0E0D1C;
$white: #fff;
$disabled-color: #50576B;
$active-btn-color: #171629;
$pink: #EC008C;
$gray: #ADB7C7;
$light-gray: #ADB7C7;
$shadow: #EBF0F9;
$sky-blue: #bee5eb;
$blue: #0c5460;
$page-background-color: #FBFCFF;

$breakpoint-tablet: 1024px;